@tailwind base;
@tailwind components;
@tailwind utilities;

/* start other styles */
.main-showcase {
  background: url(/banner.jpg) rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-members {
  background: url(/banner2.jpg) rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
/* end other styles */
